
.validation-summary-errors {
    font-weight: bold;
    color: #980505;
}

.validation-summary-valid {
    display:none;
}

.input-validation-error {
    border:1px solid #f00;
    background-color:#fee;
}

.nopadding-left {
    padding-left:0;
}
.nopadding-right {
    padding-right:0;
}
